div {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.primary {
  text-align: right;
}

.secondary {
  text-align: left;
}

.container {
  padding-top: 5%;
}

video {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

table {
  overflow: scroll;
}
